include search

section.notes
  article.note.empty-note(ng-if='notes.isEmpty')
    .note-wrap
      a(ui-sref='new').show
        i.fa.fa-plus
      header.note-header
        h1 You don't have any note!

      .note-body Try to add

      footer.note-footer

  article.note(ng-repeat='note in notes.notes | filter:search')
    .note-wrap
      a(ui-sref='note-detail({ noteId: {{note.created_at}} })').show
        i.fa.fa-link
      header.note-header
        h1(ng-bind='note.title')

      .note-body(ng-bind-html='notes.markdown(note.text) | characters:180: false')

      footer.note-footer
        time(ng-bind='notes.formatDate(note.created_at)')
      .note-actions
        a.copy(ui-sref='copy({ copiedId: {{note.created_at}} })'): i.fa.fa-copy
        a.edit(ui-sref='note-edit({ noteId: {{note.created_at}} })'): i.fa.fa-pencil
        a.remove(ng-click='notes.removeNote(note.created_at)' href='#'): i.fa.fa-trash
