// Colors

$color1: #000000;
$color2: #2f4550;
$color3: #586f7c;
$color4: #b8dbd9;
$color5: #f8f8f8;

// Fonts
$baseFont: 'Open Sans';
$secondFont: 'Open Sans Condensed';

// Header
$headerHeight: 10rem;
$headerBg: $color3;

// Footer
$footerHeight: 7rem;
$footerBg: $color2;
