.notes {
  padding: 3.6rem 3rem;
  overflow: hidden;
}

.note {
  width: 20%;
  float: left;
  padding: 1rem;
}

.note-wrap {
  position: relative;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;

  &:hover {
    a.show { background: rgba($color2, .8); color: $color5; }

    .note-body, .note-footer {
      -webkit-filter: blur(5px);
    }

    .note-header {
      z-index: 3;
      color: $color5;
      border-bottom-color: transparent;
    }

    .note-actions {
      opacity: 1;
      z-index: 3;
      bottom: 0;
    }
  }

  a.show {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-decoration: none;
    font-size: 2.4rem;
    cursor: pointer;
    color: transparent;
    transition: all .1s linear;

    .fa {
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.note-actions {
  opacity: 0;
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  padding: 2rem 1.6rem;
  transition: all .2s ease-in;
  text-align: center;

  a {
    font-size: 1.6rem;
    color: $color5;
    text-decoration: none;
    margin: 0 1rem;
  }
}

.note-header {
  position: relative;
  padding: 1rem 1.6rem;
  border-top: 2px solid $color3;
  border-bottom: 1px solid $color5;
  pointer-events: none;
  transition: color .1s linear;

  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: normal;
  }
}

.note-body {
  height: 16rem;
  overflow: hidden;
  padding: 1rem 1.6rem;
  font-size: 1.4rem;
  transition: all .1s linear;
}

.note-footer {
  padding: 1rem 1.6rem;
  color: $color3;
  font-style: italic;
  transition: all .1s linear;
}
